@import '../scss/variables.scss';

.card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding: 1em;
  color: $light;
  background: $dark;
  border-radius: 0.4em;
  box-shadow: 0 0 10px 2px $light;

  h1 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .info {
    .attributes {
      margin-top: 1em;
      dt, dd {
        display: inline-block;
      }

      dt {
        width: 30%;
        opacity: 0.7;
        font-size: 0.9em;
      }

      dd {
        width: 70%;
        font-weight: 600;
      }
    }

    p {
      margin-top: 1em;
      font-size: 0.9em;
  }
  }

  .image-wrapper {
    align-self: center;
    height: 18em;
    display: flex;
    .image {
      height: 100%;
      width: auto;
      align-self: center;
    }
  }

  @keyframes pulse {
      0% { box-shadow: 0 0 10px 2px $light; }
      50% { box-shadow: 0 0 10px 10px $light; }
      100% { box-shadow: 0 0 10px 2px $light; }
  }

  &.loading {
    animation: pulse 1s infinite;
    .image, .attributes, .text {
      filter: blur(4px);
    }
  }
}
