@import './scss/variables.scss';

.app {
  color: $light;
  background: lighten($dark, 10);

  .header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: $header-height;

    input {
      width: 20em;
      margin: 1em auto;
      padding: 0.25em;
      font-size: 1em;
      color: $light;
      background: $dark;
      box-shadow: 0 0 10px 2px $light;
      border: none;
    }
  }

  .cards {
    padding: calc(#{$header-height} + 0.5em) 2em 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  }
}
